{{template "layout" .}}
{{define "title"}}Tags{{end}}
{{define "body"}}
<h1>Tags</h1>
{{range .Tags -}}
        {{if .Posts | postsbydir "blog"}}
        <div>
                <h2 id="{{.Title | slugify}}">{{.Title}}</h2>
                <ul class="blog-list">
                        {{range .Posts -}}
                        <li class="blog-list-item">
                                <p class="blog-list-date">{{.Meta.Published | shortdate}}</p>
                                <span>
                                <h2 class="list-title"><a href="{{.Link}}">{{.Meta.Title}}</a></h2>
                                <p class="list-short">{{.Meta.Short}}</p>
                                </span>
                        </li>
                        {{- end}}
                </ul>
        </div>
        {{end}}
{{- end}}
{{end}}
