* {
        margin: 0;
        padding: 0;
}
:root {
        --color: #FFF8E7;
        --background: #403E3A;
        --brand: #EFA22F;
        --border: #DDD;
        --spacing: 1rem;
        --width: 960px;
        line-height: 1.5;
        font-size: 14px;
        font-family: "stylish", sans-serif;
        color: var(--color);
        background-color: var(--background);
        margin: auto;
        padding: var(--spacing);
        max-width: calc(var(--width) - var(--spacing) * 2);
}
@media (prefers-color-scheme: light) {
        :root {
                --color: #403E3A;
                --background: #FFF8E7;
                --brand: #D51515;
        }
}
@media screen and (max-width: 480px){
        :root {
                --width: 480px;
        }
}
@font-face {
        font-family: 'stylish';
        src: url('/style/fonts/lato-regular.woff2') format('woff2');
}
a, a:visited {
        color: var(--color);
        text-decoration: none;
}
a:hover {
        text-decoration: underline;
}
header, .feed, .feed-header, .no-feeds {
        margin-bottom: var(--spacing);
}
header {
        display: flex;
        flex-direction: row;
        justify-content: center;
}
.header-button {
        margin: 0 0.5rem;
}
.feed-header, .header-button{
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
        background-color: var(--color);
        border-radius: 3px;
        padding: 0.5rem var(--spacing);
}
.feed-header a, .feed-header a:visited, .header-button, .header-button:visited {
        color: var(--background);
}
.feed-items {
        list-style: none;
}
.feed-items a:visited {
        color: #B3ADA2;
}
.feed-items hr {
        border: 0;
        height: 1px;
        margin: 0.5rem 0;
        background-image: linear-gradient(to right, var(--border), var(--background));
}
.no-feeds {
        text-align: center;
}
footer {
        font-size: 0.75rem;
        text-align: center;
}
footer a, footer a:visited  {
        color: var(--brand);
}
