/* Start by resetting stuff */
* {
    margin: 0;
    padding: 0;
    border: 0;
}
/**************************************************************************************************/
/* Default theme */
:root {
    --font-regular: Arial, Helvetica, sans-serif;
    --font-code: "Courier New", Courier, monospace;
    --spacing: 1rem;
    --border: 2px solid var(--flair);
    --corner: 5px;
    --primary: #313137;
    --secondary: #FFFEF7;
    --shadow: #E6E5DF;
    --flair: #D9603B;
}
@media (prefers-color-scheme: dark) {
    :root {
        --primary: #FFFEF7;
        --secondary: #313137;
        --shadow: #414146;
    }
}
/**************************************************************************************************/
/* Main layout */
body, nav, footer {
    display: flex;
}
:root {
    scroll-behavior: smooth;
}
body {
    flex-direction: column;
    color: var(--primary);
    background-color: var(--secondary);
    font: normal 16px/1.6 var(--font-regular);
    line-height: 1.6rem;
    min-height: 100vh;
    max-width: 960px;
    padding: 0 4rem;
    margin: auto;
}
nav {
    font-size: 1.2rem;
    font-weight: bold;
    align-items: center;
    gap: var(--spacing);
    margin: var(--spacing) 0;
}
nav #hamburger, nav label {
    display: none;
}
@media screen and (max-width: 480px) {
    body {
        max-width: 480px;
        padding: 0 2rem;
    }
    nav {
        flex-direction: column;
    }
    nav > a {
        display: none;
    }
    nav label, nav input:checked ~ a {
        display: block;
    }
}
main {
    margin-bottom: auto;
}
footer {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: var(--spacing);
    margin-bottom: var(--spacing);
}
footer p {
    /* Forces the copyright notice onto it's own line */
    flex-basis: 100%;
    margin-bottom: 0;
}
/**************************************************************************************************/
/* Custom elements */
header, p, hr, pre, math, ul, ol, li, blockquote, table, img, figure, details, embed, time,
h1, h2, h3, h4, h5, h6 {
    margin-bottom: var(--spacing);
}
border-color, li:before, blockquote:before {
    color: var(--flair);
}
time {
    display: block;
}
hr, a {
    border-bottom: var(--border);
}
/* Links */
a {
    text-decoration: none;
    color: var(--primary);
}
a:hover {
    color: var(--color-light);
    background-color: var(--flair);
    border-radius: var(--corner);

}
/* Headings */
header, h2, h3, h4, h5, h6 {
    margin-top: calc(var(--spacing) * 2);
}
h1 { font-size: 2rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1.125rem; }
h6 { font-size: 1rem; }
/* Text blocks */
blockquote, pre, code, math, details {
    background-color: var(--shadow);
    padding: var(--spacing);
    border-radius: var(--corner);
}
blockquote *:last-child, details *:last-child {
    margin-bottom: 0;
}
pre, code, summary {
    font-family: var(--font-code);
}
math {
    display: block;
    text-align: center;
}
code {
    display: inline;
    padding: 0.2rem 0.25rem;
    font-size: 14px;
}
details > *:nth-child(2) {
    margin-top: var(--spacing);
}
pre {
    overflow-x: auto;
}
pre > code {
    padding: 0;
    background-color: unset;
}
blockquote {
    padding-left: 3rem;
    position: relative;
    width: max-content;
    font-style: italic;
}
blockquote:before {
    content: '❝';
    font-size: 3rem;
    position: absolute;
    left: 0.5rem;
}
/* Text lists */
ol li {
    list-style-position: inside;
}
ul li {
    list-style-type: none;
}
ul li:before {
    content: '-';
    padding-right: 0.5rem;
    font-weight: bold;
}
/* Text tables */
table {
    width: 100%;
    border-spacing: 0;
}
th, td {
    text-align: left;
    padding: var(--spacing);
}
th {
    font-weight: bold;
    border-bottom: var(--border);
}
tbody tr:nth-child(odd) td {
    background-color: var(--shadow);
}
tbody tr:nth-child(odd) td:first-child { border-radius: var(--corner) 0 0 var(--corner); }
tbody tr:nth-child(odd) td:last-child { border-radius: 0 var(--corner) var(--corner) 0; }
/* First row can't have top corners rounded 'cuz of border for th */
tbody tr:nth-child(1) td:first-child { border-radius: 0 0 0 var(--corner); }
tbody tr:nth-child(1) td:last-child { border-radius: 0 0 var(--corner) 0; }

/**************************************************************************************************/
/* Custom classes */
.logo {
    flex-grow: 1;
    font-size: 2rem;
}
.banner {
    width: 100%;
    height: 100%;
    border-radius: var(--corner);
    object-fit: contain;
    margin-bottom: 0;
}
.banner-author {
    float: right;
    font-size: 0.75rem;
}
.banner-author a {
    border-bottom: 1px solid var(--flair);
}
.row {
    display: flex;
    justify-content: center;
    gap: var(--spacing);
    margin-bottom: var(--spacing);
}
@media screen and (max-width: 480px){
    .row {
        flex-direction: column;
        align-items: center;
    }
}
.blog-index li {
    display: flex;
    align-items: center;
}
.blog-index li:before {
    content: '';
    padding: 0;
}
.blog-index time {
    margin-right: var(--spacing);
    margin-bottom: 0;
}
.blog-index p {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}
.footnotes li p {
    display: inline;
}
